header {
	position: fixed;
	z-index: 10;
	width: 100%;
	padding: 10px;

	nav {
		float: right;
		ul {
			list-style-type: none;
			
			li {
				display: inline-block;
				padding: 0 10px;

				a {
					color: #fff;
					.copy;
					font-weight: 700;
					font-size: 0.8em;	
					text-transform: uppercase;
				}
			}
		}
	}	
}