// Bootstrap
@import 'bootstrap/bootstrap'; //note, some bootstrap components disabled in bootstrap/bootstrap.less
@import 'variables';
@import 'mixins';
@import 'libs/animate';

html, body {
    height: 100%;
    max-width: 100vw;
    // overflow-x: hidden;

    &.overlay {
        overflow: hidden;
    }
}

body {
    -webkit-font-smoothing: antialiased;
    font-size: 16px;
    line-height: 1.2em;
    font-weight: 300;
    overflow-x: hidden;
    .copy;
    color: @copy-gray;
}

p {
    .copy;
}

section, header, footer, main, article, nav, aside { position: relative; }
a {
    outline: none !important;
    text-decoration: none !important;
    color: @link-color;

    &:hover,
    &:focus {
        color: @link-color-hover;
    }
}

.browserupgrade {
    background-color: #fff;
    padding: 5px;
    position: fixed;
    z-index: 10000;
    width: 100%;
}


.main {
    width: 100%;
    padding: 0;
    // margin-top: @headerStartHeight;
}


.hilite {
    color: @yellow;
}


.sq-btn {
    .copy;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-size: 14px;
    display: block;
    background-color: @yellow;
    border-radius: 0; 
    font-weight: 800;
    padding: 4px 12px;
    text-align: left;

    &:hover {
        background-color: @btn-brn;
    }

    &.wht {
        color: #fff;
    } 

    &.blk {
        color: #000;
    }

    &.cent {
        text-align: center;
    }

    &.invrs {
        background-color: @btn-brn;

        &:hover {
            background-color: @yellow;
        }
    }

}

.animate-when-visible {
    transition: all .3s;
    opacity: 0;

    &.animated {
        opacity: 1;
    }
}

.intro-p {
    padding: 50px 100px;
    background-color: darken(#fff, 5%);

    p {
        font-size: 2rem;
    }

    @media @phone-down {
        padding: 10px;

        p {
            // font-size: 18px;
        }
    }
}

@import 'libs/hamburger';
@import 'libs/lede';
@import 'libs/slick';
@import 'libs/slick-theme';
@import 'components/header';
@import 'components/sections';
// @import 'components/footer';
// @import 'components/rules';

